<!DOCTYPE html>

<html
  lang="{{locale}}"
  dir="{{"rtl" if config.has_option("rtl", locale) else "ltr"}}"
  class="no-js">

  <head>
    <? include meta/meta ?>
    <? include analytics-head ?>
    <? include meta/resources ?>
    <? include meta/ie ?>
    {{head|safe}}
  </head>

  <body class="page-{{page}}">
    <? include analytics-body ?>
    <? include navbar ?>
    <div class="clear-navbar">
      <main id="content" class="container py2">
        {{body|safe}}
      </main>
    </div>
    <? include footer ?>
    <? include cookie/index ?>
    <script src="/js/main.js"></script>
    <script src="/js/cookie-prompt.js"></script>
  </body>

</html>
