<header class="tabs-header">
  <? include standard/standards/header ?>
  <nav>
    <ul class="tabs">
      <li>
        <a href="#placement" class="selected no-scroll">
          <? include standard/standards/tab-1-icon ?>
        </a>
      </li><li>
        <a href="#distinction" class="no-scroll">
          <? include standard/standards/tab-2-icon ?>
        </a>
      </li><li>
        <a href="#size" class="no-scroll">
          <? include standard/standards/tab-3-icon ?>
        </a>
      </li>
    </ul>
  </nav>
</header>
<div class="tabs-content">
  <div class="row tab">
    <div class="column" id="placement">
      <div class="column one-half image-container">
        <img src="/img/svg/placement.svg" alt="">
      </div>
      <div class="column one-half">
        <? include standard/standards/tab-1 ?>
      </div>
    </div>
  </div>
  <div class="row tab">
    <div class="column" id="distinction" hidden>
      <div class="column one-half image-container">
        <img src="/img/svg/distinction.svg" alt="">
      </div>
      <div class="column one-half">
        <? include standard/standards/tab-2 ?>
      </div>
    </div>
  </div>
  <div class="row tab">
    <div class="column" id="size" hidden>
      <div class="column one-half image-container">
        <img src="/img/svg/size.svg" alt="">
      </div>
      <div class="column one-half">
        <? include standard/standards/tab-3 ?>
      </div>
    </div>
  </div>
</div>
